[Desktop Entry]
Version=1.0
Type=Application

Name=Galapagos Linux'u Kur
Name[tr]=Galapagos Linux'u Kur

GenericName=System Installer
GenericName[tr]=Sistem Kurucusu

Comment=Galapagos Linux kurulum programını başlat
Comment[tr]=Galapagos Linux kurulum programını başlat

Exec=/usr/local/bin/galapagos-live-installer --manual
Icon=galapagos-installer

Terminal=false
StartupNotify=true

Categories=System;Settings;
Keywords=install;installer;galapagos;kurulum;
